body{
 
  background-color: aquamarine;    
      text-align: center;
    }
    h1
    {
      color: rgb(9, 78, 138);
      text-decoration: underline;
    }
    label
    {
      font-size: larger;
      text-shadow: 3px 3px 3px rgba(69, 241, 233, 0.685);
      font-family:sans-serif;
      font-weight: 600;
      color: rgb(85, 6, 39);
      margin-right: 20px;
      margin-bottom: 20px;
    }
    input
    {
      box-shadow: 3px 3px 5px rgba(108, 86, 235, 0.918);
      height: 20px;
      width: 200px;
      line-height: 20px;
      padding: 5px;
      border-radius: 10px;
      color: rgb(128, 21, 2);
      text-transform: capitalize;
    
    }
    .sub-btn
    {
      border: 3px none purple;
      width: 10%;
      color:rgb(240, 240, 240);
      font-size: 20px;
      text-shadow: 2px 2px 2px gainsboro;
      border-radius: 20px;
      font-family:'Times New Roman', Times, serif;
      letter-spacing: 2px;
      background-color:rgba(4, 73, 13, 0.829);
      height: 40px;
      box-shadow: 3px 3px 5px rgb(141, 223, 49);
    }
  
    .table-show
    {
      padding: 20px;
      
      margin: 20px;
      
      border-radius: 20px;
      margin-top: 250px;
      box-shadow: 4px 4px 4px 4px gray;
    }
    .content
    
    {
      margin-top: 100px;
    }
    .user
    {
      color:rgb(161, 21, 3);
      width: 80%;
      border-radius: 20px;
      background-color: rgb(255, 253, 127);
    }